.form-date {
	display: flex;
	color: aqua;
	justify-content: space-around;
}
.form-parts{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 2% 0;
}
.pars-head {
	margin-bottom: 1%;
}
.form-date-wrap {
 .form-parts {
	margin-top: 0;
 }
}
.form-bonus {
	select {
		width: stretch;
	}
}