.title {
	padding: 0 5%;
}
.form-date {
	display: flex;
	color: aqua;
	justify-content: space-around;
}
.form-parts{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 2% 0;
}
.pars-head {
	margin-bottom: 1%;
}
.form-date-wrap {
 .form-parts {
	margin-top: 0;
 }
}
.form-menber-parts {
	display: flex;
	justify-content: space-around;
}
.form-menber {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 2% 0;
}
.btn {
	display: block;
	width: 200px;
	height: 40px;
	border: solid 2px pink;
	color: pink;
	font-size: 2rem;
	margin: 5% auto 10%;
	border-radius: 20px;
}